@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* colors:
black
Dark gray: #1f2933
gold: #c9a648
cream: #f1e4c0
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  color: #dce1e1;
}

body {
  background-image: url('./assets/film-background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

a {
  text-decoration: none;
}

.no-cursor {
  cursor: not-allowed;
}

a:hover {
  text-decoration: underline;
  cursor: grab;
}

p {
  font-size: 16px;
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 400;
}

li {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1200px;
}

.gold {
  color: #c9a648;
}

/* NAV */

.logo {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  display: flex;
}

.nav__container {
  display: flex;
  height: 16vh;
  background-color: #1f2933BF;
  align-items: center;
  font-size: 18px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
}

.nav__list {
  display: flex;
}

.nav__links {
  padding: 24px;
}

.nav__link {
  text-decoration: none;
}

/* HOME */

.landing__container {
  height: 60vh;
  display: flex;
  justify-content: center;
}

.landing__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 32px;
}

.landing__img--container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 24px;
}

.landing__img {
  object-fit: contain;
  display: flex;
}

.explore__container {
  height: 30vh;
}

/* FOOTER */

.footer__container {
  display: flex;
  flex-direction: column;
  height: 20vh;
  background-color: #1f2933BF;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}


